

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.FormsElements {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.title-FormsElements {
    color: white;
    margin: 20px 0px 20px 20px;
}

.link-pages {
    display: flex;
    align-items: flex-end;
}

.link-pages span {
    margin: 0px 10px;
    font-size: 14px;
    color: rgb(207, 207, 208);
}

.Textual-inputs {
    background-color: #252b3b;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0px 20px;
    display: inline-block;
    /* width: 100%; */
    margin-bottom: 20px;
}

.card-title h5 {
    color: white;
    font-weight: 500;
    margin-bottom: 5px;
}

.text-Textual p {
    color: #6c859c;
    font-size: 17px;
    width: 320px;
    line-height: 30px;

}

.card-title-desc {
    margin-bottom: 30px;
}

.text-Textual span {
    color: #e83e8c;
}


.form-Textual-inputs label {
    color: #6c859c;
    display: inline-block;
    margin-bottom: 15px;
}



.form-Textual-inputs input {
    background-color: #252b3b;
    border: 0.1px solid #6c859c;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    caret-color: white;
}

.form-Textual-inputs input::placeholder {
    color: #6c859c;
}

.input-color {
    width: 60px !important;
}

.select {
    display: block;
    margin: 10px 0px;
    background-color: #252b3b;
    border: #6c859c 0.1px solid;
    width: 100%;
    height: 40px;
    border-radius: 5px;

}

.cart-examplerange-top {
    display: flex;
}

.box-example {
    width: 100%;
    margin: 0px 10px;
}

.box-example h5 {
    color: white;
}

.box-example p {
    color: #6c859c;
}

.cart-examplerange-bottom {
    display: flex;
}


.component-header-FormsElements {
    display: flex;
    background-color: #1b1e25;
    width: 100%;
}

.form-Textual-inputs input[type="datetime-local"] {
    color: #6c859c;
    
}

.form-Textual-inputs input[type="date"] {
    color: #6c859c;
}

.form-Textual-inputs input[type="month"] {
    color: #6c859c;
}

.form-Textual-inputs input[type="week"] {
    color: #6c859c;
}

.form-Textual-inputs input[type="time"] {
    color: #6c859c;
}

.select, option{
    color: #6c859c;
    border: none;
}

.react-dropdown-select-input{
    display: none;
}

.css-wmy1p7-ReactDropdownSelect:hover, .css-wmy1p7-ReactDropdownSelect:focus-within{
    border-color:#6c859c;
}

.css-wmy1p7-ReactDropdownSelect{
    border:1px solid #6c859c !important;
}

.css-wmy1p7-ReactDropdownSelect *{
    background-color: #252b3b;
}

.css-z2hyoe-ItemComponent{
    border-bottom: 1px solid  màu ch ;
}
.css-j0fte1-DropDown{
    border: 1px solid #6c859c !important;
}